<div class="card grey lighten-5 z-depth-1">
  <div>
    <%= image_tag("default.jpg", class: "circle responsive-img")%>
    <div class="card-title"><%= current_user.username %></div>
  </div>
  <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="card-action">
    <a href="#modal3" class="modal-trigger"><i class="material-icons">edit</i></a>
</div>
</div>

