


<div class="row main-content">

  <div class="col s3 profile-section">
    <% if current_user %>
      <%= render 'profilecard' %>
    <% end %>
    <%= render 'search' %>
  </div>

  <div class="col s8">
  <div class=" actualcard">
    <%= render 'articles' %>
  </div>
  </div>

  <div class='col s1'>
  <%= render 'createarticle' %>
  </div>
</div>
