<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a  href="#modal1" class="modal-trigger" >Signup</a></li>
  <li><a href="#modal2" class="modal-trigger">Login</a></li>
  <li><a href="#!"><i class="material-icons">local_phone</i></a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <% if current_user %>
    <li><a href="#modal3" class="modal-trigger">Edit account</a></li>
  <% end %>
  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %></li>
  <li><a href="#!"><i class="material-icons">local_phone</i></a></li>
</ul>

<nav>
  <div class="nav-wrapper p-2">
    <%= link_to "Authors Haven", root_path, :class => "brand-logo" %>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <% if current_user %>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><%= current_user.username %><i class="material-icons right">account_circle</i></a></li>
      <% else %>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Get Started<i class="material-icons right">arrow_drop_down</i></a></li>
      <% end %>
    </ul>
  </div>
</nav>

